@import url('../../public/AdminLTE-3.2.0/plugins/fontawesome-free/css/all.min.css');
@import url('../../public/AdminLTE-3.2.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css');
@import url('../../public/AdminLTE-3.2.0/dist/css/adminlte.min.css');

body {
  background-color: #f4f6f9;
}

/* .login-page,
.register-page {
  background-color: #f4f6f9;
  height: 50vh;
}

.login-logo {
  margin-bottom: 0px;
}

.login-card-body {
  border-radius: 5px;
}

.login-box,
.register-box {
  width: 500px;
} */